.gameOverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOverTitle {
  margin-top: 0px;
  font-size: 6vmin;
}

.tryAgainButton,
.backButton {
  border-radius: 2vh;
  padding: 2vh;
  font: 2.2vh arial;
  margin: 2vmin;
  border-style: solid;
}

.tryAgainButton {
  background-color: rgb(174, 233, 101);
  border-color: rgb(113, 169, 46);
}
.tryAgainButton:hover {
  cursor: pointer;
  background-color: rgb(113, 169, 46);
}

.backButton {
  background-color: lightpink;
  border-color: rgb(210, 104, 120);
}

.backButton:hover {
  cursor: pointer;
  background-color: rgb(210, 104, 120);
}

.backButton:active,
.tryAgainButton:active {
  background-color: yellow;
}

.leaderboardEntryBox {
  width: 40vh;
  height: 5vh;
  border-radius: 2vh;
  background-color: lightblue;
  padding: 1vh;
  text-align: center;
  font: 4.5vh courier;
  margin-right: 2vw;
  margin-bottom: 2vh;
  border-style: solid;
}

.leaderboardTable {
  margin-bottom: 1vh;
  display: block;
  height: 50vh;
  /* width: 80vw; */
  overflow: auto;
  font-size: 3vmin;
}

.leaderboardElement {
  padding-bottom: 1vh;
  padding-right: 9vw;
}
