.gameInterfaceContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.switchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
