/* The switch - the box around the slider */

.choicesContainer {
  display: flex;
  flex-direction: row;
}

.freePlayOption,
.competitiveOption {
  border: 3px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vmin;
  margin: 2.5vmin;
  padding: 2vmin;
  height: 20vmin;
}

.freePlayOption {
  border-color: aquamarine;
}
.freePlayOption:hover {
  background-color: rgb(200, 248, 232);
  cursor: pointer;
}
.freePlayOption:active {
  background-color: aquamarine;
}
.competitiveOption {
  border-color: coral;
}
.competitiveOption:hover {
  background-color: rgb(240, 181, 181);
  cursor: pointer;
}
.competitiveOption:active {
  background-color: coral;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playButton {
  margin-top: 2vh;
  width: 40vmin;
  height: 16vmin;
  content: url("./Play\ button.png");
}
.playButton:hover:enabled {
  content: url("./Play\ button\ pressed.png");
}
.playButton:active:enabled {
  content: url("./Play\ button\ hover.png");
}
.playButton:disabled {
  filter: grayscale(1);
}

.playButtonMobile {
  margin-top: 2vh;
  width: 40vmin;
  height: 16vmin;
}
